.customTable{
    padding: 1em;
    width: 80%;
    margin: auto;
    margin-bottom: 3em;
}

thead {
    background-color: rgb(48, 32, 58);
    color: white;
    font-size: 1.2em;
}

tbody {
    background-color: white;
    color: grey;
}